/* Typeography
====================================*/

* {
  font-family: 'Roboto', sans-serif;
}


/* All Div Style
====================================*/

.all-divs {
  border: none;
  height: auto;
  padding: 5px;
}

.container {
  float: right;
  height: auto;
  width: 45%;
}

.absolute {
  float: left;
  width: 45%;
}

#div-before {
  background-color: #E5A9FF;

}

#div-after {
  background-color: #E5A9FF;

}


#div-1 {
  background-color: #cccccc;
  position: relative;
  top: 30px;
  left: -40px;
}

#div-1a {
  background-color: tomato;

}

#div-1b {
  background-color: lightgreen;

}

#div-1c {
  background-color: #FFA974;

}

/* Explanation
====================================*/

.explanation {
  width: 50%;
  float: left;
  padding: 10px;
  height: auto;
  background-color: #cccccc;
}
